@model ProjectManagement.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h2  style="color:orange;">@Model.Author</h2>
<!--<h2>@ViewBag.Author</h2> -->

<h2>@Model.Message</h2>

<p>Use this area to provide additional information.</p>
<table border="1">
    <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
    <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
    <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr>
</table>
<div align ="justify">
    Modify the About view so that the name of the author to be displayed in
    orange; <br>
    ● Add a table in the body with 3 columns and 3 rows; <br>
    ● Add a div after the table with a text with minimum 3 rows (justify).<br>
 </div>